{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}
  {% include references.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

  <div class="sidebar-logo">
    <a href="https://manoa.hawaii.edu/" target="_blank" rel="noopener">
      <img src="{{ site.baseurl }}/assets/images/manoa/stacked.png" alt="University of Hawaiʻi at Mānoa">
    </a>
  </div><!--//sidebar-logo-->

</div><!--//sidebar-wrapper-->
